In [24]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
csv_file = "divorce.csv"
divorce_df = pd.read_csv(csv_file)
divorce_df.head()

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [26]:
df1 = divorce_df.replace([0, 1, 2, 3, 4], ["Never", "Seldom", "Averagely", "Frequently", "Always"])
df2 = df1.replace({"Class":"Seldom"}, "Divorced")
df3 = df2.replace({"Class":"Never"}, "Married")

df3.head(100)

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,Averagely,Averagely,Always,Seldom,Never,Never,Never,Never,Never,Never,...,Averagely,Seldom,Frequently,Frequently,Frequently,Averagely,Frequently,Averagely,Seldom,Divorced
1,Always,Always,Always,Always,Always,Never,Never,Always,Always,Always,...,Averagely,Averagely,Frequently,Always,Always,Always,Always,Averagely,Averagely,Divorced
2,Averagely,Averagely,Averagely,Averagely,Seldom,Frequently,Averagely,Seldom,Seldom,Averagely,...,Frequently,Averagely,Frequently,Seldom,Seldom,Seldom,Averagely,Averagely,Averagely,Divorced
3,Frequently,Averagely,Frequently,Averagely,Frequently,Frequently,Frequently,Frequently,Frequently,Frequently,...,Averagely,Averagely,Frequently,Frequently,Frequently,Frequently,Averagely,Averagely,Averagely,Divorced
4,Averagely,Averagely,Seldom,Seldom,Seldom,Seldom,Never,Never,Never,Never,...,Averagely,Seldom,Averagely,Frequently,Averagely,Averagely,Averagely,Seldom,Never,Divorced
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Never,Never,Never,Never,Never,Never,Never,Never,Never,Seldom,...,Averagely,Never,Averagely,Averagely,Averagely,Averagely,Averagely,Averagely,Averagely,Married
96,Never,Frequently,Seldom,Never,Never,Never,Never,Never,Never,Never,...,Seldom,Seldom,Always,Never,Never,Averagely,Never,Never,Never,Married
97,Never,Never,Never,Never,Never,Never,Never,Never,Never,Never,...,Averagely,Seldom,Seldom,Never,Never,Never,Seldom,Never,Never,Married
98,Never,Never,Never,Never,Never,Averagely,Seldom,Never,Never,Never,...,Always,Averagely,Frequently,Never,Never,Never,Averagely,Always,Seldom,Married
99,Never,Seldom,Averagely,Seldom,Never,Never,Never,Never,Never,Never,...,Never,Seldom,Averagely,Never,Never,Never,Frequently,Averagely,Seldom,Married

In [31]:
df3.to_csv('updated_df.csv')